---
import { cn } from '@/lib/utils'
import { Image } from 'astro:assets'
import Layout from '@/layouts/Layout.astro'
import HomeCard from '@/components/home-card.astro'
import LinkButton from '@/components/home-link-button'

import githubMark from '@/assets/github_mark.svg'
---

<Layout title='Home' description='我深爱追逐你的那个自己'>
  <div
    class='px-5 max-w-[375px] md:max-w-screen-md mx-auto grid grid-cols-1 md:grid-cols-3 md:grid-rows-2 gap-4'
  >
    <HomeCard
      className={cn(
        'aspect-square md:aspect-auto md:h-full md:col-span-2 md:row-span-1 relative',
        `bg-[url('/images/home_card_0_bg_m.png')] md:bg-[url('/images/home_card_0_bg.png')] bg-no-repeat bg-cover bg-center`
      )}
    >
      <div
        class='absolute top-4 left-4 right-4 p-4 border rounded-2xl bg-background text-sm'
      >
        Hey，我是朝小树，有爱的前端开发者，JavaScript
        至少占据了我生活的三分之一。
      </div>
    </HomeCard>
    <HomeCard
      className={cn(
        'aspect-square md:col-start-3 md:col-span-1 md:row-span-1 relative flex justify-center items-center',
        `bg-[url('/images/home_card_1_bg.png')] bg-no-repeat bg-cover bg-center`
      )}
    >
      <Image
        src={githubMark}
        alt='Github Mark'
        class='z-10 relative size-24 md:size-16'
        priority={true}
        loading='eager'
      />
      <LinkButton
        className='z-10 absolute bottom-4 right-4'
        href='https://github.com/chaochaoxiaoshu'
      />
    </HomeCard>
    <HomeCard
      className={cn(
        'aspect-square md:aspect-auto md:h-full md:col-start-2 md:col-span-2 md:row-start-2 relative',
        `bg-[url('/images/home_card_2_bg_m.png')] md:bg-[url('/images/home_card_2_bg.png')] bg-no-repeat bg-cover bg-center`
      )}
    >
      <div
        class='absolute top-4 left-4 right-4 p-4 border rounded-2xl bg-background text-sm'
      >
        我目前在一家有爱的公司从事前端开发工作，我也在致力于成为可以独当一面的全栈工程师。
      </div>
    </HomeCard>
    <HomeCard
      className={cn(
        'aspect-square md:col-start-1 md:col-span-1 md:row-start-2 relative',
        `bg-[url('/images/logo_tile_bg.png')] bg-no-repeat bg-cover bg-center`
      )}
    />
  </div>
</Layout>
