<footer
  class='flex justify-between items-center container py-8 text-sm text-muted-foreground'
>
  <span>&copy; 2025 TheTrees</span>
  <a
    class='hover:underline'
    href='https://beian.miit.gov.cn'
    target='_blank'
    rel='noreferrer'
  >
    晋ICP备2024046068号-1
  </a>
</footer>
